:root {
  --backgroundcolor: #1e1e1e;
  --fontcolor: #F3F4E5; 
}

body {
  background-color: var(--backgroundcolor);
}

[data-theme="light"] {
  --backgroundcolor: #F3F4E5;
  --fontcolor: #1E1E1E;
}

* {
  transition: all 0.3s ease-in-out;
}

/* NAVBAR STYLING */

header {
  color: var(--fontcolor);
  font-family: "Poppins";
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin: 0 20px; 
}

.name {
  font-size: 28px;
  transition: font-size 0.3s ease;
}

.links {
  font-size: 24px;
  transition: font-size 0.3s ease;
}

.navbar ul {
  display: flex;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-top: 35px;
  margin-bottom: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: var(--fontcolor);
  transition: font-size 0.3s ease;
}

.navbar a:hover {
  font-size: 32px;
  transition: font-size 0.3s ease;
}

a.toggle {
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 50px;
  height: auto;
  cursor: pointer;
}

a.toggle:hover {
  width: 60px;
  height: auto;
}

@media screen and (min-width: 1070px) {
  .navbar {
    flex-direction: row; 
    justify-content: space-between;
    margin: 0 150px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    margin: 0 10px;
  }

  .name {
    font-size: 18px;
    transition: font-size 0.3s ease;
  }

  .links {
    font-size: 16px;
    margin-top: 20px;
    transition: font-size 0.3s ease;
  }

  .navbar a:hover{
    font-size: 24px;
    transition: font-size 0.3s ease;
  }

  .navbar li {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .toggle {
    position: fixed; 
    bottom: auto;
    right: auto;
    width: auto;
    height: auto;
    margin-top: 20px; 
  }
}

/* END OF NAVBAR CSS */


/* HI IM JULS CSS */

.hicontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  width: auto;
  height: 500px;
}

.hicontainer p {
  color: var(--fontcolor);
  font-size: 100px;
  transition: font-size 0.3s ease;
  cursor: pointer;
}

.hicontainer p:hover {
  font-size: 105px;
}

.hicontainer span {
  color: var(--fontcolor);
  font-size: 100px;
}

@media screen and (max-width: 767px) {
  .hicontainer p{
    font-size: 70px;
    text-align: center;
    transition: font-size 0.3s ease;
  }

  .hicontainer p:hover {
    font-size: 68px;
  }
  
}

/* END OF HI IM JULS CSS */


/* ABOUT ME CSS */

.aboutcontainer {
  font-family: "Poppins";
  color: var(--fontcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 800px;
  margin-bottom: 100px;
  transition: font-size 0.3s ease;
} 

.infocontainer {
  display: flex;
  flex-direction: column;
  margin-right: -80px;
  margin-top: -400px;
}

.imagecontainer {
  margin-top: -500px;
  margin-left: 150px;
  opacity: 1; 
  transition: opacity 0.5s ease;
}

.imagecontainer img { 
  width: 500px;
  height: auto;
  animation: fadeIn 0.5s ease;
}

.title {
  font-size: 34px;
  font-weight: bold;
  animation: fadeIn 0.1s ease;
  transition: font-size 0.3s ease;
}

.myname {
  font-size: 80px;
  font-weight: bold;
  animation: fadeIn 0.3s ease;
  transition: font-size 0.3s ease;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.myname:hover {
  transform: scale(1.1);
}

.course {
  font-size: 50px;
  margin-top: -20px;
  animation: fadeIn 0.3s ease;
  transition: font-size 0.3s ease;
}

.bio {
  font-size: 22px;
  width: 650px;
  height: auto;
  margin-top: 5px;
  animation: fadeIn 0.4s ease;
  transition: font-size 0.3s ease;
}

.resumeBtn {
  background-color: var(--fontcolor);
  color: var(--backgroundcolor);
  font-family: "Poppins";
  font-weight: bold;
  font-size: 50px;
  width: 300px;
  height: auto;
  border-radius: 34px;
  margin-top: 20px;
  transition: transform 0.3s ease; 
  animation: fadeIn 0.5s ease;
}

.resumeBtn:hover {
  transform: scale(1.1); 
}

@media screen and (max-width: 1300px) {
  .aboutcontainer {
    margin-top: 550px;
  }

  .imagecontainer {
    margin-top: -500px;
    margin-left: 150px;
  }
  
  .imagecontainer img { 
    width: 340px;
    height: auto;
    animation: fadeIn 0.5s ease;
  }

  .infocontainer {
    margin-left: 0; 
  }

  .title {
    font-size: 20px;
    animation: fadeIn 0.1s ease;
  transition: font-size 0.3s ease;
  }

  .myname {
    font-size: 40px;
    animation: fadeIn 0.2s ease;
  transition: font-size 0.3s ease;
  transition: transform 0.3s ease;
  }

  .course {
    font-size: 24px;
    margin-top: -10px;
    animation: fadeIn 0.2s ease;
  transition: font-size 0.3s ease;
  }

  .bio {
    font-size: 14px;
    width: 300px;
    animation: fadeIn 0.3s ease;
  transition: font-size 0.3s ease;
  }

  .resumeBtn {
    font-size: 24px;
    width: 150px;
    height: auto;
    animation: fadeIn 0.5s ease;
    transition: transform 0.3s ease; 
  }
  
  .resumeBtn:hover {
    transform: scale(1.1); 
  }

}

@media screen and (max-width: 767px) {
  .aboutcontainer {
    flex-direction: column;
    align-items: center;
  }

  .imagecontainer {
    opacity: 0; 
    transition: opacity 0.5s ease;
    display: none; 
  }

  .infocontainer {
    margin-left: -60px; 
    text-align: justify;
  }

  .title {
    animation: fadeIn 0.1s ease;
  transition: font-size 0.3s ease;
  }

  .myname {
    animation: fadeIn 0.2s ease;
  transition: font-size 0.3s ease;
  transition: transform 0.3s ease;
  }

  .course {
    animation: fadeIn 0.2s ease;
  transition: font-size 0.3s ease;
  }

  .bio {
    animation: fadeIn 0.3s ease;
  transition: font-size 0.3s ease;
  }

  .resumeBtn {
    animation: fadeIn 0.5s ease;
    transition: transform 0.3s ease; 
  }
  
  .resumeBtn:hover {
    transform: scale(1.3); 
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

/* END OF ABOUT ME CSSS */


/* SKILLS CSS */

.skillscontainer {
  margin-top: 400px;
  margin-bottom: 300px;
  /* display: flex; */
  text-align: center;
  justify-content: center;
}

.skillstitle {
  color: var(--fontcolor);
  font-size: 40px;
}

.iconscontainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; 
  font-size: 120px;
  color: var(--fontcolor);
  max-width: 1100px; 
  margin: 0 auto; 
}

.iconscontainer i {
  margin: 30px;
  transition: font-size 0.3s ease;
  cursor: pointer;
}

.devicon-cplusplus-plain {
  color: var(--fontcolor);
}

.iconscontainer i:hover {
  font-size: 140px;
  transition: font-size 0.3s ease;
}

@media screen and (max-width: 767px) { 
  .skillstitle {
    font-size: 24px;
  }

  .iconscontainer {
    font-size: 60px;
  }

  .iconscontainer i:hover {
    font-size: 80px;
    transition: font-size 0.3s ease; 
  }

}

/* END OF SKILLS CSS */


/* PROJECTS CSS */

.projcontainer {
  margin-top: 100px; 
  margin-bottom: 100px; 
  text-align: center;
  justify-content: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}


.projtitle {
  color: var(--fontcolor);
  font-size: 40px;
  font-family: "Poppins";
}

.gwacalc {
  width: 100%; 
  max-width: 700px;
  height: 400px;
  background-color: var(--fontcolor);
  border-radius: 34px;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.gwatitle {
  font-family: "Poppins";
  color: var(--fontcolor);
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-wrapper {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  opacity: 0;
}

.icon-wrapper a {
  text-decoration: none;
}

.icon-wrapper i {
  font-size: 200px;
  color: var(--backgroundcolor);
}

.gwacalc:hover .icon-wrapper{
  opacity: 1;
}

.gwacalc:hover img{
  opacity: 0;
}

.gwacalc img {
  width: 100%; 
  height: 100%;
  border-radius: 34px;
  border: 4px solid #1e1e1e;
  object-fit: cover;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px; 
}

.project {
  width: calc(50% - 20px); 
  max-width: 700px; 
  text-align: center;
  margin: 20px 20px;
}

@media screen and (max-width: 1024px) {
  .gwacalc {
    width: 100%; 
    max-width: 500px;
    height: 300px;
    margin-left: auto; 
    margin-right: auto; 
  }
}

/* PROJECTS CSS */

.projcontainer {
  margin-top: 100px; 
  margin-bottom: 100px; 
  text-align: center;
  justify-content: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}


.projtitle {
  color: var(--fontcolor);
  font-size: 40px;
  font-family: "Poppins";
}

.gwacalc {
  width: 100%; 
  max-width: 700px;
  height: 400px;
  background-color: var(--fontcolor);
  border-radius: 34px;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.gwatitle {
  font-family: "Poppins";
  color: var(--fontcolor);
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-wrapper {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  opacity: 0;
}

.icon-wrapper a {
  text-decoration: none;
}

.icon-wrapper i {
  font-size: 200px;
  color: var(--backgroundcolor);
}

.gwacalc:hover .icon-wrapper{
  opacity: 1;
}

.gwacalc:hover img{
  opacity: 0;
}

.gwacalc img {
  width: 100%; 
  height: 100%;
  border-radius: 34px;
  border: 4px solid #1e1e1e;
  object-fit: cover;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px; 
}

.project {
  width: calc(50% - 20px); 
  max-width: 700px; 
  text-align: center;
  margin: 20px 20px;
}

@media screen and (max-width: 1024px) {
  .gwacalc {
    width: 100%; 
    max-width: 500px;
    height: 300px;
    margin-left: auto; 
    margin-right: auto; 
  }
}

@media screen and (max-width: 767px) {
  .gwacalc {
    width: 90vw;
    max-width: 300px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .icon-wrapper i {
    font-size: 80px;
  }
  .projtitle {
    font-size: 24px;
  }
  .gwatitle {
    font-size: 17px;
  }
  .project {
    margin-top: -15px;
  }
  .gwacalc img {
    width: 100%; 
    height: auto;
    border-radius: 34px;
    border: 4px solid #1e1e1e;
    object-fit: cover;
  }
}

/* END OF PROJECTS CSS */


/* CONTACT ME CSS */

.footercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px 0;
}

.contacttitle {
  font-family: "Poppins";
  color: var(--fontcolor);
  font-size: 80px;
  margin-bottom: 10px;
}

.email {
  font-family: "Poppins";
  color: var(--fontcolor);
  font-size: 38px;
  margin-top: -20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.email:hover {
  font-size: 42px
}

.contacticons {
  font-size: 120px;
  color: var(--fontcolor);
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  margin-top: -45px;
}

.contacticons a {
  text-decoration: none;
  color: var(--fontcolor);
}

.contacticons span {
  font-size: 155px;
  font-weight: bolder;
  color: var(--fontcolor);
  margin-top: 28px;
}

.contacticons span:hover {
  font-size: 190px;
}

.contacticons i:hover {
  font-size: 155px;
}

.contacticons i {
  margin-right: 35px; 
}

@media screen and (max-width: 767px) {
  .contacttitle {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .email {
    font-size: 20px;
    margin-top: 2px;
  }
  .email:hover {
    font-size: 28px
  }
  .contacticons {
    font-size: 75px;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    margin-top: -30px;
  } 
  .contacticons span {
    font-size: 100px;
    margin-top: 19px;
  }  
  .contacticons span:hover {
    font-size: 120px;
  }  
  .contacticons i {
    margin-right: 20px;
  }
  .contacticons i:hover {
    font-size: 90px;
  }
}
